.img {
    width: 50%;
    display: block; /* Assurez-vous que l'image est un élément de bloc pour appliquer les marges automatiques */
    margin: 0 auto; /* Centre l'image horizontalement */
    border-radius: 2%;
}
.cmd{
    background-color: #252525;
    color: #F03C2E;
    border-radius: 5px;
    padding: 2px;
}